<nav class="sidebar"> 
    <h1>ToDo List</h1>
    <p id="motivation">Plan.Focus.Achieve</p>
    <button id="newTask">New Task</button>
    <ul class="links">
        <li><a href="#">Today</a></li>
        <li><a href="#">Planning</a></li>
        <li><a href="#">Statistics</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
    <div class="profile"></div>
</nav>