<nav class="sidebar"> 
    <img class="logo" src="img/image.png">
    <h1 class="name">ToDo List</h1>
    <p id="motivation">Plan.Focus.<br>Achieve</p>
    <button id="newTask">New Task</button>
    <ul class="links">
        <li><a href="#">Today</a></li>
        <li><a href="#">Planning</a></li>
        <li><a href="#">Statistics</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
    <div class="profile"></div>
</nav>