<div id="calendar">
    <p>Calendar</p>
    <div id="calendarGuts">
        <div id="calendarHeader">
        <button id="prevMonth">←</button>
        <span id="monthYear"></span>
        <button id="nextMonth">→</button>
        </div>
        <div class="tasksByPeriod">
            <button id="Month">Month</button>
            <button id="Week">Week</button>
            <button id="Day">Day</button>
        </div>
    </div>
        <div id="calendarGrid"></div>
        <p id="tasksByDate"></p>
</div>
<script src="calendar.js"></script>