<div class="main" >
    <div id="main">
    <div class="date">
        <h1>Today</h1>
        <p id="date"></p>
    </div>
    
<div id="informationBlock">
<figure id="allTasks" class="informationBlock">
    <img src="">
    <p>Total Tasks</p>
    <div id="numberAllTasks"></div>
</figure>
<figure id="finishedTasks" class="informationBlock">
    <img src="">
    <p>Finished</p>
    <div id="numberfinishedTasks"></div>
</figure>
<figure id="processTasks" class="informationBlock">
    <img src="">
    <p>In process</p>
    <div id="numberProcessTasks"></div>
</figure>
</div>

<div class="controls">
    <input id="input">
    <button id="addBtn">Add</button>
</div>
<div class="filters">
    <button id="allBtn">All</button>
    <button id="doneBtn">Done</button>
    <button id="todoBtn">Todo</button>
</div>
<ul id="list"></ul>
<div id="score" ></div>
</div>

<div id="addTaskPanel">
    <legend>Task name</legend>
    <input id="inputName">
    <legend>Description</legend>
    <input id="inputDescription">
        <div id="category">
            <legend>Category</legend>
                <button id="work">Work</button>
                <button id="study">Study</button>
                <button id="own">Own</button>
                <button id="health">Health</button>
                <button id="other">Other</button>
        </div>
        <div class="priority">
            <legend>Priority</legend>
            <input id="high" type="radio">
            <label for="high">High</label>
            <input id="low" type="radio" name="Low">
            <label for="low">Low</label>
        </div>
    <button id="newAddBtn">Add</button>
</div>

</div>