<div class="controls">
    <input id="input">
    <button id="addBtn">Add</button>
</div>
<div class="filters">
    <button id="allBtn">All</button>
    <button id="doneBtn">Done</button>
    <button id="todoBtn">Todo</button>
</div>
<ul id="list"></ul>
<div id="score" ></div>
