<div>

<h1>Statistics</h1>

<div id="informationBlock">
<figure id="allTasks" class="informationBlock">
    <img src="">
    <p>Total Tasks</p>
    <div id="numberAllTasks"></div>
</figure>
<figure id="finishedTasks" class="informationBlock">
    <img src="">
    <p>Finished</p>
    <div id="numberfinishedTasks"></div>
</figure>
<figure id="processTasks" class="informationBlock">
    <img src="">
    <p>In process</p>
    <div id="numberProcessTasks"></div>
</figure>
</div>

<div id="dynamics">
    <p>Dynamics of tasks</p>
    <canvas id="line"></canvas>
</div>

<div id="category">
    <p id="'a">Tasks by category</p>
     <canvas id="donut"  ></canvas>
     
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="statistics.js"></script>

</div>